# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp

# Dependencias
node_modules/
dist/
build/

# Variables de entorno
.env
.env.local

# Logs
*.log
npm-debug.log*

# Temporales
*.tmp
*.bak